<div class="page-header">
    <h1>Pessoas</h1>
</div>
<div class="form-group col-sm-8">
  <input type="text" class="form-control" id="nome" ng-model="buscar">
</div>
<div class="col-sm-2">  
  <button type="button" class="btn btn btn-default" ng-click="buscar_pessoa()">Buscar</button>
</div>
<div class="text-right col-sm-2">
  <button type="button" class="btn btn btn-primary" ng-click="cadastrar_pessoa()">Cadastrar</button>
</div>

<div class="col-sm-12">
  <table class="table table-striped">
      <thead>
        	<tr>
              <th>Nome</th>
              <th>Identificação</th>
              <th></th>
        	</tr>
      </thead>
      <tbody>
        	<tr ng-repeat="pessoa in pessoas">
              <td>{{pessoa.nome}}</td>
              <td>{{pessoa.identificacao}}</td>
              <td class="text-right">
              	<button type="button" class="btn btn-xs btn-default" ng-click="editar_pessoa(pessoa.id)">Editar</button>
              	<button type="button" class="btn btn-xs btn-danger" ng-click="remover_pessoa(pessoa.id)">Remover</button>
              </td>
        	</tr>
      </tbody>
  </table>
</div>

<!-- Modal para remover pessoa -->
<div modal="showModal" class="modal fade" id="myModal" role="dialog"  close="close()">
  <div class="modal-dialog ">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Remover cadastro</h4>
      </div>
      <div class="modal-body">
        <p>Deseja realmente remover esse registro?</p>
      </div>
      <div class="modal-footer">
        <button ng-click="remover()" class="btn">Sim</button>
        <button ng-click="close()" class="btn btn-danger" >Não</button>
      </div>
    </div>
  </div>
</div>
