<div class="page-header">
    <h1>Gráficos</h1>
</div>

<div class="text-center">
	<div fusioncharts
	    width="90%"
	    height="500"
	    type="column2d"
	    dataSource="{{graficoFaixaEtaria}}" >
	</div>
</div>
<br><br>
<div class="text-center">
	<div fusioncharts
	    width="90%"
	    height="400"
	    type="pie3d"
	    dataSource="{{graficoPessoaPorSexo}}" >
	</div>
</div>
