<div class="page-header">
    <h1>Editar cadastro</h1>
</div>
<div class="form-group col-sm-12">
  	<label for="nome">Nome completo: *</label>
 	<input type="text" class="form-control" id="nome" ng-model="pessoa.nome">
 	<span class="label label-danger" ng-if="errors.nome">{{errors.nome}}</span>
</div>
<div class="form-group col-sm-6">
  	<label for="dataNascimento">Data de nascimento: *</label>
  	<input type="date" class="form-control" id="dataNascimento" ng-model="pessoa.dataNascimento" max="{{ hoje | date :  'yyyy-MM-dd' }}">
 	<span class="label label-danger" ng-if="errors.dataNascimento">{{errors.dataNascimento}}</span>
</div>
<div class="form-group col-sm-6">
  	<label for="sexo">Sexo: *</label>
  	<select class="form-control" id="sexo" ng-model="pessoa.sexo">
    	<option value="1">Masculino</option>
    	<option value="2">Feminino</option>
  	</select>
 	<span class="label label-danger" ng-if="errors.sexo">{{errors.sexo}}</span>
</div>
<div class="form-group col-sm-12">
  	<label for="identificacao">Identificação: *</label>
  	<input type="text" class="form-control" id="identificacao" ng-model="pessoa.identificacao">
 	<span class="label label-danger" ng-if="errors.identificacao">{{errors.identificacao}}</span>
</div>
<div class="form-group col-sm-12">
  	<label for="endereco">Endereço:</label>
  	<input type="text" class="form-control" id="endereco" ng-model="pessoa.endereco">
</div>
<div class="col-sm-12">
	<button type="button" class="btn btn btn-default" ng-click="salvar()">Salvar</button>
    <button type="button" class="btn btn btn-danger" ng-click="voltar()">Cancelar</button>
</div>
